<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>
        This is just the beginning of the page.
    </h1>
    <br>
    <br>

    <form action="/albums" method="POST">
        Album Title<input type="text" name="title">
        Album Artist<input type="text" name="artist">
        Album Song Count<input type="number" name="songCount">
        Album Length<input type="number" name="length">
        Album Image<input type="text" name="imgUrl">
        <br>
        Song Title<input type="text" name="songTitle">
        Song Track Number<input type="number" name="trackNumber">
        Song Length<input type="number" name="songLength">
        <input type="submit">
    </form>

    <br>
    <br>
    <table>
        <tr>
            <th>Album Title</th>
            <th>Artist</th>
            <th>Song Count</th>
            <th>Album Length</th>
            <th>Album Cover</th>
            <th>Song Title</th>
            <th>Track Number</th>
            <th>Track Length</th>

        </tr>

        <tr th:if="${albums}" th:each="album : ${albums}">
            <table>
                <tr>
                    <td th:text="${album.title}"></td>
                    <td th:text="${album.artist}"></td>
                    <td th:text="${album.songCount}"></td>
                    <td th:text="${album.length}"></td>
                    <td><img th:src="${album.imgUrl}" alt="Song Album Picture" src=""></td>
                </tr>
                <tr th:if="${albums.song}" th:each="song : ${albums.song}">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td th:text="${album.song.songTitle}"></td>
                    <td th:text="${album.song.trackNumber}"></td>
                    <td th:text="${album.song.songLength}"></td>
                </tr>
            </table>
        </tr>
    </table>

</body>
</html>